p{
    display: inline-block;
    margin: 5px;
}

form{
    margin: 5px auto 0;
    vertical-align: middle;
    text-align: center;
}

form button{
    margin: 10px auto 0;
    vertical-align: middle;
    width: 200px;
    height: 100px;
}

form input{
    /* pointer-events: none; */
}

form fieldset{
    /* margin: 0 auto; */
    /* vertical-align: middle; */
    display: inline-block;
}

form *{
    margin: 0 auto;
    /* vertical-align: middle; */
    display: block;
}



#my_dataviz{
    width: 50%;
    margin: auto 0;
    align-items: center;
}